.card {
    position: absolute;
    z-index: 5;
    margin: auto;
    padding: 2rem;
    height: auto;
    justify-content: space-around;
    text-align: center;
    border: 1px solid;
}

.right {
    right: 4rem !important;
    top: 7rem;
}

.left {
    left: 4rem !important;
    top: 7rem;
}

.elevation {
    box-shadow: 5px 10px #b6b4b4;
}

.black {
    background: black;
}

.white {
    background: white;
}

.small {
    width: 20rem;
}

.large {
    width: 50rem;
}

.card-div {
    display: flex;
    flex-direction: column;
}