.card {
    margin: auto;
    padding: 3rem;
    height: auto;
    justify-content: space-around;
    text-align: center;
}

.elevation {
    z-index: 2;
    box-shadow: 2px;
}

.black {
    background: black;
}

.white {
    background: white;
}

.small {
    width: 15rem;
}

.large {
    width: 40rem;

}

.card-div {
    display: flex;
    flex-direction: column;
}