.contracts-container {
    margin: 1rem;
    padding: 0.5rem;
}

.contracts-hr {
    margin-top: 2rem;
}

.contracts-h2 {
    font-size: 2rem;
}

.contracts-search {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin: auto;
}

.contracts-search-input {
    border: solid 1px black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 30rem;
    height: 2rem;
    margin: 1rem;
    margin-right: 2.5rem;
    padding-left: 1rem;
}

.contracts-search-button {
    width: 2rem;
    margin-top: 1rem;
}

.contracts-table-th {
    font-size: 1.3rem;
}

.contracts-table-tr {
    line-height: 2rem;
}

.contracts-table {
    width: 45rem;
    justify-content: space-between;
}

.contracts-table-td-button {
    height: 2rem;
    padding: 0.3rem;
    margin: auto;
}

td {
    max-width: 17rem;
}

.no-contract-div {
    font-weight: 600;
    font-size: 1.3rem;
    margin: auto;
    padding-right: 5rem;
    margin-top: 2rem;
}