.auth-card-p {
    font-size: 1rem;
    color: red;
}

.auth-card-img {
    margin: auto;
    height: 6rem;
    width: 6rem;
}

.auth-card-div {
    margin-left: -5rem;
    margin-right: -5rem;
    justify-content: space-between;
}

.auth-form-text {
    width: 18rem;
}

.auth-form-style {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* .auth-modal-label {
    width: 10rem;
} */

.auth-modal-div {
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem auto;
}

.auth-modal-div input {
    width: 7rem;
    height: 1.5rem;
    border-radius: 7%;
}