.home-card-p {
    font-size: 1rem;
    color: red;
}

.home-card-img {
    margin: auto;
    height: 6rem;
    width: 6rem;
}

.home-card-div {
    margin-left: -5rem;
    margin-right: -5rem;
    justify-content: space-between;
}

.home-form-text {
    width: 18rem;
}

.home-form-style {
    margin-top: 3rem;
    margin-bottom: 3rem;
}