.home-container {
    margin: -3px;
    padding: 0px;
}

.home-body {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.new-contract-button {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}