.profile-main-div {
    margin: 0 auto;
    margin-top: 4rem;
    width: fit-content;
    font-size: 2rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}